---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TedfordshireLogo from '../images/logo_hires.png';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Image from 'astro/components/Image.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				<Image src={TedfordshireLogo} alt="tedfordshire logo." display="flex" justify-content="center" gap="1em" margin-top="1em"; />
			</p>
		</main>
		<Footer />
	</body>
</html>
